*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightslategray;
}
.nav-link{
    color: white;
}
ul label {
    color: white;
    margin-right: 35%;
    font-weight:bolder;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    
}
.nav-link:hover{
    color: lightgrey;
    background-color: black;
}
.fur{
    background-image: url(../images/fur\ 6.jpg);
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350;
    max-height: 400;

}
.fur h2{
    text-align: center;
    margin-top: 8%;
    
}
.fur b{
    font-size: 80px;
    color: black;
    margin-top: 20%;
    font-weight: bolder;
    text-shadow: 2px 1px black;
    font-family: 'Times New Roman', Times, serif;
    
}
.fur .ruf{
     font-size: 70px;
     color: gray;
     margin-top: 10%;
    font-family: cursive;
}
.fur .btn{
    font-weight: bolder;
    
}
p{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.container h3{
    font-weight: bolder;
    font-size: 30px;
}
.container p{
    color: black;
    font-weight: bold;
    font-family: cursive;
    font-size: 20px;
}
.availables h3{
    color: white;
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
    text-shadow: 1px 1px white;
    
}.discount p{
    color:darkred;
    font-weight: bolder;
    margin-left: 10%;
    font-size: 50px;
}